@import 'nav';
header {
    background-color: rgb(56, 56, 56);
    height: 60px;
    color: white;
    padding: 0px;
    margin: 0px;

    img {
        height: 40px;
        width: auto;
    }

    a{
        color: white;
        text-decoration: none;
    }
}



